
.bg {
        background-image: url("Pics/pic2.jpg");
        height: 100%; 
        position: relative; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-top: 10px;

}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgba(193, 240, 246, 0.85);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

