h2 {
    color: red;
    margin-left: 20px;
}
.bg {
   	 		background-image: url("Pics/pic4.jpg");
   			height: 100%; 
   		    position: relative;	
    		background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
margin: 0;
  }
.bg1 {
   	 		background-image: url("Pics/pic1.jpg");
   			height: 100%; 
margin: 0;
   		    position: relative;	
    		background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
  }
.bg2 {
   	 		background-image: url("Pics/pic3.jpg");
margin: 0;
   			height: 100%; 
   		    position: relative;	
    		background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
  }

