body{
background-color:white;}
img{display: block;		border-radius: 5%;	margin-left: auto;		margin-right: auto;		 max width: 100%;	height: auto;}

h1{color: rgb(0,0,0);		text-align: center;		text-shadow: 1px;		font-style:bold		font-size:300%;		font-family: "Lucida Console";}
h2{color: rgb(250,130,190);		text-align: center;		 text-shadow: 1px;		font-size:100%;		font-family: "Lucida Console";}
p{color: rgb(0,0,250);	text-align: center;	line-height: 1.5;	margin: 5;		font-size: 130%;		font-family: "Times New Roman", Times, serif;}
